/* Resetting margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Styling for the entire page */
body {
  background-color: #ebe7e7; /* or any other dark color */
  font-family: "Roboto", sans-serif;
}

/* Styling for the main heading */
h1 {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-decoration: underline;
}

/* Styling for player cards */
.cards {
  padding: 3px;
  background-color: #fff;
  width: 18rem;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

/* Styling for card title */
.title {
  padding: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}

/* Styling for text content inside the card */
.text {
  padding: 10px;
  display: flex; /* Corrected from 'display: flexbox;' to 'display: flex;' */
  text-align: start;
  font-size: 1rem;
}

/* Styling for the player title (italic) */
.player-title {
  font-style: italic;
}

/* Styling for images inside the card */
img {
  height: 200px;
  object-fit: cover;
}
